<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" [@routeAnimations]="prepareRoute(outlet)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color:#0000;">
        <a class="navbar-brand" href="#">Zero-G</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" aria-controls="home" aria-selected="true" [routerLink]="['/']">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link"  data-toggle="tab" aria-controls="events" aria-selected="false" [routerLink]="['/events']">Events</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" data-toggle="tab" aria-controls="register" aria-selected="false" [routerLink]="['/register']">Register</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link " data-toggle="tab" aria-controls="contact" aria-selected="false"  href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <router-outlet #outlet="outlet" ></router-outlet>
</div>