app-root{
    background-image: url('/assets/images/pubg.jpg');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-color: #7a2edf */
}